.world-map_title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 5rem;
}
.world-map_title b,
.world-map_title u {
  font-size: inherit; /* Inherit font size from parent .world-map_title */
}
#world-map_map {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 15px 7px rgba(153, 153, 153, 0.49);
  -moz-box-shadow: 5px 5px 15px 7px rgba(153, 153, 153, 0.49);
  box-shadow: 5px 5px 15px 7px rgba(153, 153, 153, 0.49);
}
.world-map_copyright {
  padding: 5px;
  font-size: 10px;
  color: gray;
}
.world-map_country {
  fill: lightgray;
  stroke: #fff;
  stroke-width: 0.2px;
  cursor: pointer; /* Add cursor pointer on hover */
}

.world-map_highlighted {
  fill: #2e75b8;
}
.world-map_belarus {
  fill: green;
}
.world-map_selected {
  stroke: black;
  stroke-width: 1.2px;
}
.world-map_tooltip {
  position: absolute;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
}
@media (max-width: 1000px) {
  #world-map_map {
    zoom: 0.7;
  }
  .world-map_title {
    font-size: 28px;
  }
}
@media (max-width: 800px) {
  #world-map_map {
    zoom: 0.6;
  }
}
@media (max-width: 600px) {
  #world-map_map {
    zoom: 0.5;
  }
}
